.topBtn {
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 30px;
    font-size: 22px;
    width: 45px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 7px;
    background: #000000;
    opacity: 0;
    transition: all .4s;
}
.topBtn:hover {
    opacity: 1;
    cursor: pointer;
    color: white !important;
}
.topBtn.active {
    bottom: 40px;
    pointer-events: auto;
    opacity: 1;
    color: white !important;
    line-height: 41px;
}